<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test  name="Test" parallel = "classes">
   <groups>
  <run>
  <!--<include name="smoke"></include> -->
  <exclude name="smoke"></exclude>
  </run>
  </groups>
	  <classes>
		  <class name="AssignmentTesting.google"></class>
		  <class name="AssignmentTesting.sauceDemo"></class>
		  <class name="AssignmentTesting.SeleniumEasy"></class>
		  <class name="AssignmentTesting.SeleniumEasydropdown"></class>
		  <class name="AssignmentTesting.Facebooklogin"></class>
		  
	  </classes>
  </test> 
</suite> <!-- Suite -->
